<html>
  <head>
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title> Home </title>
    {% endif %}
  </head>
  <body>
      <div>Insert Website Name: <a href = "/home"> Home </a></div>
      <div> <a href = "/login"> Login </a></div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class = "container">
        {% block body %} {% endblock %}
      </div>
  </body>
</html>
