<html>

  <head>
    <style>
      a.btn {
        display: inline-block;
        color: #AC3;
        padding: 5px;
        border: 1px solid #555;
        border-radius: 5px 5px;
      }
    </style>
    <link rel="stylesheet" href="/static/css/whatever.css">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title> Home </title>
    {% endif %}
  </head>

  <body>
      <div>Therapanel:</div>
      <div><a href = "/home"> Home </a></div>
      <div><a href = "/login"> Log In </a></div>
      <div><a href = "/logout"> Log Out </a></div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class = "container">
        {% block body %} {% endblock %}
      </div>
  </body>

</html>
