{% extends "base_patient.html" %}

{% block body %}

<form method = "POST" action = "/day_view" name = "day">
<h2> {{name}} - Daily Activity Info </h2>
<p> Floors: {{floors}} % up or down from yesterday </p>
<p> Steps: {{steps}}</p>
<p> Distance: {{distance}}</p>
<p> Date: {{stripped_time}}</p>
<p>{{daily_data}}</p>
</form>

<a class="btn" href="{{url_for("days_goals")}}">Today's Goals</a>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>
<script src="/static/js/Rickshaw.Graph.Axis.Time.js"></script>
<script src="/static/js/Rickshaw.Graph.Axis.X.js"></script>
<script src="/static/js/Rickshaw.Graph.Axis.Y.js"></script>

<style>
#chart_container {
    position: relative;  /* needed for position absolute to work later */
    padding-bottom: 10px;
}

#day_graph {
    position: relative;
    left: 40px;
}

#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
</style>

<div id="chart_container">
    <div id="y_axis"></div>
    <div id = "day_graph"></div>
</div>

<script>
var dailyData = [
        {% for t in daily_tuples %}
          { x: {{t[0]|safe}}, y: {{t[1]|safe}} },
        {% endfor %}
    ];

// {% for tuple in tuple_data %}
//               {
//                 x: {{ tuple[0][0], tuple[1][0], tuple[2][0] }},
//                 y: {{ tuple[0][1], tuple[1][1], tuple[2][1] }},
//               };
// {% endfor %}
//     ];

var day_graph = new Rickshaw.Graph( {
    element: document.querySelector("#day_graph"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: dailyData,
        color: 'steelblue'
    } ]
} );

var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: day_graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis')
    });

day_graph.render();
</script>

{% endblock %}