{% extends "base_patient.html" %}

{% block body %}

<form method = "POST" action = "/daily_distance_activity" name = "day"></form>

<style>
#chart_container {
    position: relative;  /* needed for position absolute to work later */
    padding-bottom: 10px;
}

#daily_miles_graph {
    position: relative;
    left: 40px;
}

#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

#x_axis {
    position: relative;
    left: 40px;
    bottom: 0px;
}

#stats_container {
    position: relative;
    float: right;
    left: -150px;
    bottom: -170px;
}

#floors_img {
    position: relative;
/*    float: left;*/
/*    padding: 10px;*/
    right: 70px;
}

#floors_info {
    position: relative;
    float: right;
}

#footprints_img {
    position: relative;
/*    float: left;*/
/*    padding:10px;*/
    right: 70px;
}

#steps_info {
    position: relative;
    float:right;
}

#map_img {
    position: relative;
/*    float: left;*/
/*    padding: 10px;*/
    right: 70px;
}

#distance_info {
    position: relative;
    float:right;
}

</style>


<div id = "stats_container">


<div id = "floors_img">
<img class="stairs" src="/static/images/stairs.png" height= "50" width= "50">
</div>
<div id = "floors_info">
Floors: {{floors}}
</div>


<div id = "footprints_img">
<img class="footprints" src="/static/images/footprints.png" height= "50" width= "50">
</div>
<div id = "steps_info">
Steps: {{steps}}
</div>


<div id = "map_img">
<img class="map" src="/static/images/map_pin.png" height= "50" width= "50">
</div>
<div id = "distance_info">
Distance: {{distance}}
</div>
</div>

<div id="chart_container">
    <div id="y_axis"></div>
    <div id = "daily_miles_graph"></div>
    <div id = "x_axis"></div>
</div>

<div class="btn-group">
<a class="btn btn-inverse" href="{{url_for("days_steps_activity")}}">Steps</a>
<a class="btn btn-inverse" href="{{url_for("days_floors_activity")}}">Floors</a>
<a class="btn btn-inverse" href="{{url_for("days_distance_activity")}}">Miles</a>
</div>

<div>
<script>
var dailyMilesData = [
        {% for d in distance_tuple %}
          { x: {{d[0]|safe}}, y: {{d[1]|safe}} },
        {% endfor %}
    ];

// var dailyStepsData = [
//           { x: {{first_x|safe}}, y: {{steps|safe}} },
//     ];

// var YesterdaySteps = [
//           { x: {{second_x|safe}}, y: {{yesterdays_steps|safe}} },
//     ];

var daily_miles_graph = new Rickshaw.Graph( {
  element: document.querySelector("#daily_miles_graph"),
  width: 700,
  height: 500,
  renderer: 'bar',
    series: [
        {
            data: dailyMilesData,
            color: 'steelblue',
            name: "Miles"
        },
        // {
        //      data: YesterdaySteps,
        //      color: 'lightblue',
        //      name:  "Steps_2"
        // }
             ]
} );

var format = function(n) {

    var map = {
    {% for t in format_tuples %}
        {{t[0]|safe}}: "{{t[1]|safe}}",
    {% endfor %}
    }
    return map[n];
}

var x_ticks = new Rickshaw.Graph.Axis.X( {
    graph: daily_miles_graph,
    orientation: 'bottom',
    element: document.getElementById('x_axis'),
    pixelsPerTick: 200,
    tickFormat: format
} );

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: daily_miles_graph,
    xFormatter: function(x) { return x },
} );

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: daily_miles_graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('y_axis')
});

// var legend = new Rickshaw.Graph.Legend({
//     graph: goals_graph,
//     element: document.querySelector('#goals_graph')
// });

// var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
//     graph: goals_graph,
//     legend: legend
// });

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: daily_miles_graph,
    xFormatter: function(x) { return x },
} );

// var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
//     graph: goals_graph,
//     legend: legend
// });

daily_miles_graph.render();
</script>
</div>

{% endblock %}