{% extends "base_patient.html" %}

{% block body %}

<form method = "POST" action = "/daily_steps_activity" name = "day"></form>

<style>
#chart_container {
    position: relative;  /* needed for position absolute to work later */
    padding-bottom: 10px;
}

#daily_steps_graph {
    position: relative;
    left: 40px;
}

#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

#x_axis {
    position: relative;
    left: 40px;
    bottom: 0px;
}

#stats_container {
    position: relative;
    padding-bottom: 10px;
    float: right;
    left: -80px;
    padding-top: 40px;
}

#floors {
    position: relative;
    padding-bottom: 10px;
}

#footprints {
    position: relative;
    padding-bottom: 10px;
}

#map {
    position: relative;
    padding-bottom: 10px;
}

.btn-group {
    position: relative;
    left:250px;
    bottom: 20px;
}

#info_title {
  padding-bottom: 30px;
  color: #778899;
  padding-right: 10px;
}

.text_label {
  color: #2F4F4F;
}

#floors_img {
    padding-right: 20px;
    padding-bottom: 7px;
}

#map_img {
    padding-right: 20px;
    padding-bottom: 7px;
}

#footprints_img {
    padding-right: 20px;
    padding-bottom: 7px;
}

</style>


<div id = "stats_container">

<div id= "info_title"><h3>Today's Activity</h3></div>

<div id = "floors">
<img id="floors_img" src="/static/images/stairs.png" height= "50" width= "50">{{floors}} <b>Floors</b>
</div>


<div id = "footprints">
<img  id="footprints_img" src="/static/images/footprints.png" height= "50" width= "50">{{steps}} <b>Steps</b>
</div>

<div id = "map">
<img id="map_img" src="/static/images/map_pin.png" height= "50" width= "50">{{distance}} mi. <b>Distance</b>
</div>


</div>


<div id="chart_container">
    <div id="y_axis"></div>
    <div id = "daily_steps_graph"></div>
    <div id = "x_axis"></div>
</div>

<div class="btn-group">
<a class="btn" href="{{url_for("days_steps_activity")}}">Steps</a>
<a class="btn" href="{{url_for("days_floors_activity")}}">Floors</a>
<a class="btn" href="{{url_for("days_distance_activity")}}">Miles</a>
</div>

<div>
<script>
var dailyStepsData = [
        {% for step in steps_tuple %}
          { x: {{step[0]|safe}}, y: {{step[1]|safe}} },
        {% endfor %}
    ];

// var dailyStepsData = [
//           { x: {{first_x|safe}}, y: {{steps|safe}} },
//     ];

// var YesterdaySteps = [
//           { x: {{second_x|safe}}, y: {{yesterdays_steps|safe}} },
//     ];

var daily_steps_graph = new Rickshaw.Graph( {
  element: document.querySelector("#daily_steps_graph"),
  width: 600,
  height: 400,
  renderer: 'bar',
    series: [
        {
            data: dailyStepsData,
            color: 'steelblue',
            name: "Steps"
        },
        // {
        //      data: YesterdaySteps,
        //      color: 'lightblue',
        //      name:  "Steps_2"
        // }
             ]
} );

var format = function(n) {

    var map = {
    {% for t in format_tuples %}
        {{t[0]|safe}}: "{{t[1]|safe}}",
    {% endfor %}
    }
    return map[n];
}

var x_ticks = new Rickshaw.Graph.Axis.X( {
    graph: daily_steps_graph,
    orientation: 'bottom',
    element: document.getElementById('x_axis'),
    pixelsPerTick: 200,
    tickFormat: format
} );

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: daily_steps_graph,
    xFormatter: function(x) { return x },
} );

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: daily_steps_graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('y_axis')
});

// var legend = new Rickshaw.Graph.Legend({
//     graph: goals_graph,
//     element: document.querySelector('#goals_graph')
// });

// var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
//     graph: goals_graph,
//     legend: legend
// });

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: daily_steps_graph,
    xFormatter: function(x) { return x },
} );

// var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
//     graph: goals_graph,
//     legend: legend
// });

daily_steps_graph.render();
</script>
</div>

{% endblock %}