{% extends "base.html" %}
{% block body %}

<h1>Login</h1>

<form method = "POST" action = "/authenticate">
  Username <input type = "text" name = "username"></input>
  Password <input type = "text" name = "password"></input>
  <input type = "submit"></input>
</form>

{% endblock %}

<!-- // <script type="text/javascript">
// var activityData = [
//   {% for a in user.activities %}
//     {x: '{{ a.date.strftime('%Y-%m-%d') }}',
//      y: {{ a.total_cal}}},
//   {% endfor %}
// ];

// new Rickshaw.chart({data: activityData})
// </script> -->