{% extends "base_patient.html" %}

{% block body %}

<form method = "POST" action = "/weekly_miles" name = "patients">

<h1> Miles Walked This Week </h1>

<!-- <p> Steps {{weekly_steps_data}} </p> -->

<!-- <p> Floors {{weekly_floors_data}} </p> -->

<!-- <p> Miles {{weekly_miles_data}} </p -->

<a class="btn" href="{{url_for("weekly_steps_chart")}}">Steps</a>
<a class="btn" href="{{url_for("weekly_floors_chart")}}">Floors</a>
</form>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/d3.layout.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>

<!--<script src="/static/js/Rickshaw.Graph.Axis.Time.js"></script>
<script src="/static/js/Rickshaw.Graph.Axis.X.js"></script>
<script src="/static/js/Rickshaw.Graph.Axis.Y.js"></script>
<script src="/static/js/Rickshaw.Fixtures.Time.js"></script>
<script src="/static/js/Rickshaw.Fixtures.Number.js"></script>-->

<!-- <div id = "chart1">
<script>

    var weeklyStepsData = [
        {% for a in weekly_steps_data %}
            {
                x: {{ a.date.strftime('%s') }},
                y: {{ a.steps }},
            },
        {% endfor %}
    ];

    var graph1 = new Rickshaw.Graph( {
    element: document.querySelector("#chart1"),
    width: 600,
    height: 400,
    renderer: 'bar',
    series: [ {
        data: weeklyStepsData,
        color: 'steelblue'
      } ]
    } );

    var xAxis = new Rickshaw.Graph.Axis.Time({
        timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
        graph: graph1
    });

    var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph1
});

    yAxis.render();
    xAxis.render();
    graph1.render();

</script>
</div> -->
<!--
<div id = "chart2">
<script>

    var weeklyFloorsData = [
        {% for a in weekly_floors_data %}
            {
                x: {{ a.date.strftime('%s') }},
                y: {{ a.floors }},
            },
        {% endfor %}
    ];

    var graph2 = new Rickshaw.Graph( {
    element: document.querySelector("#chart2"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: weeklyFloorsData,
        color: 'steelblue'
    } ]
} );

    var xAxis = new Rickshaw.Graph.Axis.Time({
        timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
        graph: graph2
    });

    var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph2
});

    yAxis.render();
    xAxis.render();
    graph2.render();
</script>
</div> -->

<div id = "chart3">
<script>

    var weeklyMilesData = [
        {% for a in weekly_miles_data %}
            {
                x: {{ a.date.strftime('%s') }},
                y: {{ a.floors }},
            },
        {% endfor %}
    ];

    var graph3 = new Rickshaw.Graph( {
    element: document.querySelector("#chart3"),
    width: 600,
    height: 400,
    renderer: 'bar',
    series: [ {
        data: weeklyMilesData,
        color: 'steelblue'
    } ]
} );

    var xAxis = new Rickshaw.Graph.Axis.Time({
        timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
        graph: graph3
    });

    var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph3
});

    xAxis.render();
    yAxis.render();
    graph3.render();
</script>
</div>

{% endblock %}