{% extends "base.html" %}

{% block body %}

<form method = "POST" action = "/weekly_steps" name = "patients">

<h1> Weekly Step's View </h1>


<p> {{weekly_steps_data}} </p>


</form>

<a class="btn" href="{{url_for("fitbit_sync")}}">Sync</a>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>

<div id="chart">
<script>
var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: {{weekly_steps_data}},
        color: 'steelblue'
    } ]
} );
graph.render();
</script>
</div>

<div id = "chart">
<script>
var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: {{weekly_stairs_data}},
        color: 'steelblue'
    } ]
} );
graph.render();
</script>
</div>


<div id = "chart">
<script>
var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: {{weekly_miles_data}},
        color: 'steelblue'
    } ]
} );
graph.render();
</script>
</div>

{% endblock %}