{% extends "base_therapist.html" %}

{% block body %}

<form method = "POST" action = "/therapists_patient_view" name = "Patients Home Page">

<h1>{{name}}'s Info</h1>

<h3>Insert patient's info here</h3>


<a class="btn btn-success" href="{{url_for("set_goals")}}?patient_id={{patient_id}}">Set Goals</a>

<a class="btn" href="{{url_for("days_goals")}}?patient_id={{patient_id}}">Daily Graph</a>

<a class="btn" href="{{url_for("therapist_weekly_steps")}}?patient_id={{patient_id}}">Week's Steps</a>

<a class="btn" href="{{url_for("therapist_weekly_floors")}}?patient_id={{patient_id}}">Week's Floors</a>

<a class="btn" href="{{url_for("therapist_weekly_miles")}}?patient_id={{patient_id}}">Week's Miles</a>

{% endblock %}