{% extends "base_therapist.html" %}

{% block body %}

<form method = "POST" action = "/patients_weekly_graphs" name = "Patients Weekly View">

  <h1> Weekly Data View for {{name}} </h1>

</form>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/d3.layout.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>

<div id="chart1">
<script>

var weeklyStepsData = [
        {% for a in weekly_steps_data %}
            {
                x: {{ a.date.strftime('%s') }},
                y: {{ a.steps }},
            },
        {% endfor %}
    ];

var graph1 = new Rickshaw.Graph( {
    element: document.querySelector("#chart1"),
    width: 600,
    height: 400,
    renderer: 'bar',
    series: [ {
        data: weeklyStepsData,
        color: 'steelblue'
    } ]
} );

var xAxis = new Rickshaw.Graph.Axis.Time({
        timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
        graph: graph1
    });

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph1
});

    yAxis.render();
    xAxis.render();
    graph1.render();
</script>
</div>

<div id="chart2">
<script>
var graph_day = new Rickshaw.Graph( {
    element: document.querySelector("#chart2"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: {{daily_data}},
        color: 'steelblue'
    } ]
} );

var xAxis = new Rickshaw.Graph.Axis.Time({
    timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
    graph: graph_day
});

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph_day
});

yAxis.render();
xAxis.render();
graph_day.render();
</script>
</div>

<div id = "chart3">
<script>

var weeklyFloorsData = [
    {% for a in weekly_floors_data %}
        {
            x: {{ a.date.strftime('%s') }},
            y: {{ a.floors }},
        },
    {% endfor %}
];

var graph2 = new Rickshaw.Graph( {
    element: document.querySelector("#chart3"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: weeklyFloorsData,
        color: 'steelblue'
    } ]
} );

var xAxis = new Rickshaw.Graph.Axis.Time({
    timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
    graph: graph2
});

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph2
});

yAxis.render();
xAxis.render();
graph2.render();
</script>
</div>


<div id = "chart4">
<script>

var weeklyMilesData = [
        {% for a in weekly_miles_data %}
            {
                x: {{ a.date.strftime('%s') }},
                y: {{ a.floors }},
            },
        {% endfor %}
    ];

var graph3 = new Rickshaw.Graph( {
    element: document.querySelector("#chart4"),
    width: 235,
    height: 85,
    renderer: 'bar',
    series: [ {
        data: weeklyMilesData,
        color: 'steelblue'
    } ]
} );

var xAxis = new Rickshaw.Graph.Axis.Time({
    timeUnit: new Rickshaw.Fixtures.Time().unit('day'),
    graph: graph3
});

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph3
});

yAxis.render();
xAxis.render();
graph3.render();
</script>
</div>

{% endblock %}