{% extends "base_therapist.html" %}

{% block body %}


<!--
<div class="btn-group">
<button class="btn" href="{{url_for("weekly_floors_chart")}}">Floors</button>
<button class="btn" href="{{url_for("weekly_miles_chart")}}">Miles</button>
</div> -->

<style>
#chart_container {
    position: relative;  /* needed for position absolute to work later */
    padding-bottom: 10px;
}

#chart1 {
    position: relative;
    left: 40px;
    top:50px;
}

#y_axis {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 40px;
}

#x_axis {
    position: relative;
    left: 40px;
    bottom: -50px;
}

.btn-group {
    position: relative;
    left:250px;
    top:20px;
}

#title {
  color: #778899;
  padding-left: 160px;
}

</style>

<div id="outer">
<div id="inner">

<form method = "POST" action = "/therapist_weekly_steps" name = "patients"></form>

<div id = "title"><h2> Steps Taken This Week </h2></div>

<div id="chart_container">

    <div id="y_axis"></div>
    <div id = "chart1"></div>
    <div id = "x_axis"></div>


<div class="btn-group">
<a class="btn btn-inverse" href="{{url_for("therapist_weekly_steps")}}">Steps</a>
<a class="btn btn-inverse" href="{{url_for("therapist_weekly_floors")}}">Floors</a>
<a class="btn btn-inverse" href="{{url_for("therapist_weekly_miles")}}">Miles</a>
</div>

</div>

<script>

    var weeklyStepsData = [
        {% for t in step_tuples %}
          { x: {{t[0]|safe}}, y: {{t[1]|safe}} },
        {% endfor %}
    ];

    var graph1 = new Rickshaw.Graph( {
    element: document.querySelector("#chart1"),
    width: 600,
    height: 400,
    renderer: 'bar',
    series: [ {
        data: weeklyStepsData,
        color: "#34D2AB",
        name: "Steps"
      } ]
    } );

    var format = function(n) {

        var map = {
        {% for t in date_tuples %}
            {{t[0]|safe}}: "{{t[1]|safe}}",
        {% endfor %}
        }
        return map[n];
    }

    var yAxis = new Rickshaw.Graph.Axis.Y({
                graph: graph1,
                orientation: 'left',
                tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                element: document.getElementById('y_axis')
    });

    var x_ticks = new Rickshaw.Graph.Axis.X( {
    graph: graph1,
    orientation: 'bottom',
    element: document.getElementById('x_axis'),
    // pixelsPerTick: 100,
    tickFormat: format
} );

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph1,
    xFormatter: function(x) { return x },
    yFormatter: function(y) { return y }
} );

    // yAxis.render();
    // xAxis.render();
    graph1.render();

</script>
</div>
</div>

{% endblock %}